# Core libraries
requests==2.27.1
pytz==2022.1
concurrent.futures==3.1.1
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-api-python-client==2.39.0

# Audio processing and transcription
whisper==0.1.7
pyAudioAnalysis==0.3.14
pydub==0.25.1

# Data handling and profiling
pandas==1.4.2
cProfile==3.9
pstats==3.9
uuid==1.30
json5==0.9.8

# OpenAI and custom API usage
openai==0.11.5
portkey_ai
